.idea/
__pycache__/
addresses.json
artifacts/
broadcast/
cache/
node_modules/
target/
.DS_Store
.vscode/
contracts/*Key.sol
contracts/*Verifier.sol
contracts/Poseidon2T8Assembly.sol
**/*output.log
*.txt
*.html

tooling-dev/*
!tooling-dev/Makefile
!tooling-dev/README.md

shielder_address.txt
shielder_block_number.txt
